@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    background-color: white;
    font-family: "Inter", sans-serif;
}

.nav{
    background-color: rgb(241, 128, 58);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 35px;
    padding-right: 35px;
}

.nav ul{
    display: flex;
    align-items: center;
}

.nav ul a{
    color: white;
    margin: 0 16px;
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}

.nav ul a:not(.btn)::after{
    content: "";
    background-color: white;
    height: 3px;
    width: 0;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

.nav ul a:hover::after{
    width: 100%;
}

.nav a img{
    width: 200px;
}

section,
footer{
    padding: 35px 0;
}

.btn{
    background-color: rgb(158, 64, 136);
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: 0.2s;
}

.btn:hover{
    background-color: rgb(141, 63, 123);
}

.info .container{
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.info .info-text{
    width: 50%;
    margin: 30px;
    padding: 0 75px;
}

.info .info-text h3{
    padding-bottom: 10px;
    font-size: 40px;
    color: rgb(81, 45, 31);
}

.info .info-text p{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 1.5em;;
    color: rgb(81, 45, 31);
    text-align: justify;
}

.info .info-img img{
    width: 500px;
    padding-top: 20px;
    padding: 0 35px;
}

.contatos h4{
    margin-bottom: 20px;
    font-size: 30px;
    color: rgb(81, 45, 31);
    text-align: center;
}

.contatos .container .cards p{
    font-size: 18px;
    text-align: center;
    margin: 20px 65px;
    line-height: 1.5em;
    padding-bottom: 50px;
}

.contatos .container .cards a{
    font-size: 18px;
    text-align: center;
    margin: 20px 65px;
    line-height: 1.5em;
    padding-bottom: 50px;
    padding-left: 8px;
}

.cards{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.cards .card-item-1{
    width: 33%;
}

.cards .card-item-2{
    width: 33%;
}

.cards .card-item-3{
    width: 33%;
}

footer{
    text-align: center;
    background-color: rgb(241, 128, 58);
    border-top: 3px solid rgb(241, 128, 58);
}

footer p{
    text-align: center;
    color: white;
}